# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Database migration cache
*.sqlite3

# OS files
Thumbs.db
.DS_Store